repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  # pre-commit run prettier -a
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.1
    hooks:
      - id: prettier
        types_or: [css, javascript, jsx, ts, tsx]
        args: [--config, client/next-web/.prettierrc]
