aioconsole
aiofiles
alembic
anthropic
chromadb>=0.4.2
click
EbookLib
edge-tts
elevenlabs
fastapi
faster-whisper
ffmpeg
ffmpeg-python>=0.2
firebase-admin
google-cloud-speech
google-cloud-storage
google-search-results
html2text
httpx
ipywidgets
langchain==0.0.292
llama_index
multion
nltk
pandas
pgvector
psycopg2-binary
pyaudio
pydantic
pydub
pypdf
python-dotenv
python-multipart
readerwriterlock
replicate
setuptools>=65
simpleaudio
soundfile
SpeechRecognition
sqlalchemy
torch>=2
torchaudio>=2
transformers
twilio
typing
uvicorn
websockets
google-auth
