fastapi
uvicorn
sqlalchemy
aiofiles
websockets
alembic
python-dotenv
aioconsole
llama_index
ipywidgets
elevenlabs
replicate
pydantic
chromadb
langchain
typing
pydub
ffmpeg
httpx
simpleaudio
openai-whisper
pyaudio
SpeechRecognition
soundfile
click
google-cloud-speech
anthropic
psycopg2-binary
