label {
  color: black;
}

.select {
  background-color: #d5dae9;
  color: #ffffff;
  border-color: #d5dae9;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}
