# Frontend app version
REACT_APP_BUILD_NUMBER=0.0.1
# Firebase configurations
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAVqhwbdB8I56HAMVVlgJKZcfrBkKI2AhQ
NEXT_PUBLIC_FIREBASE_APP_ID=1:806733379891:web:48bf124c0d9b90298e6646
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=assistly-kubernetes.firebaseapp.com
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=assistly-kubernetes
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
# Backend API endpoint
API_HOST=http://127.0.0.1:8000
NEXT_PUBLIC_API_HOST=http://127.0.0.1:8000
# (Optional) Set turn server to allow cellular connection
NEXT_PUBLIC_TURN_SERVER_API_ENDPOINT=
