body {
  background-color: #02081d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  margin-top: 80px;
  margin-bottom: 30px;
}

.text-container p {
  color: #e0e0e0;
  font-family: "Prompt", Helvetica;
  font-size: 20px;
  font-weight: 300;
}

.main-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 30vh; 
}

.microphone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6785d3;
  border-radius: 50px;
  width: 5em;
  height: 5em;
}

.audio-player {
  display: none;
}

.player-controls {
  color: #FFF;
  background-color: #6785d3;
  border-radius: 50px;
  display: none;
  font-size: 40px;
  height: 1em;
  position: relative;
  text-decoration: none;
  width: 1em;
  -webkit-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  
  .play, .pause {
     display: block;
     background: url('https://www.dropbox.com/s/aukpnwpj8b77tqy/play.svg?raw=1') no-repeat 0 0;
     background-size: 100% 100%;
     position: absolute;
     height: 1em;
     width: 1em;
     -webkit-transition: all 0.25s linear;
     transition: all 0.25s linear;
     z-index: 5;
     
     &::before, &::after {
        -webkit-border-radius: 1000px;
        -moz-border-radius: 1000px;
        border-radius: 1000px;
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 1em;
        width: 1em;
        z-index: 0;
     }
  }
  .play::before {
     box-shadow: 0 0 0 rgba(255, 255, 255, 0);
     -webkit-transition: all 0.25s linear;
     transition: all 0.25s linear;
  }
  .pause {
     background-image: url('https://www.dropbox.com/s/ev272i742j9ugvv/pause.svg?raw=1');
     opacity: 0;
     right: 0;
     top: 0;
  }
  &.playing {
     .play {
        opacity: 0;
     }
     .pause {
        opacity: 1;
        &::before {
           -moz-animation: audio1 1.5s infinite ease-in-out;
           -o-animation: audio1 1.5s infinite ease-in-out;
           -webkit-animation: audio1 1.5s infinite ease-in-out;
           animation: audio1 1.5s infinite ease-in-out;
        }
        &::after {
           -moz-animation: audio2 2.2s infinite ease-in-out;
           -o-animation: audio2 2.2s infinite ease-in-out;
           -webkit-animation: audio2 2.2s infinite ease-in-out;
           animation: audio2 2.2s infinite ease-in-out;
        }
     }
  }
  &:hover {
     transform: scale(1.1);
     
     .play::before {
        box-shadow: 0 0 12px rgba(255, 238, 125, 0.8);
     }
  }
}

.animate-audio1 {
  -moz-animation: audio1 1.5s infinite ease-in-out;
  -o-animation: audio1 1.5s infinite ease-in-out;
  -webkit-animation: audio1 1.5s infinite ease-in-out;
  animation: audio1 1.5s infinite ease-in-out;
}
@keyframes audio1 {
  0%,
  100% {
     box-shadow: 0 0 0 0.4em rgba(255, 255, 255, 0.4);
  }
  25% {
     box-shadow: 0 0 0 0.15em rgba(255, 255, 255, 0.15);
  }
  50% {
     box-shadow: 0 0 0 0.55em rgba(255, 255, 255, 0.55);
  }
  75% {
     box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.25);
  }
}
.animate-audio2 {
  -moz-animation: audio2 2.2s infinite ease-in-out;
  -o-animation: audio2 2.2s infinite ease-in-out;
  -webkit-animation: audio2 2.2s infinite ease-in-out;
  animation: audio2 2.2s infinite ease-in-out;
}
@keyframes audio2 {
  0%,
  100% {
     box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.15);
  }
  25% {
     box-shadow: 0 0 0 0.4em rgba(255, 255, 255, 0.3);
  }
  50% {
     box-shadow: 0 0 0 0.15em rgba(255, 255, 255, 0.05);
  }
  75% {
     box-shadow: 0 0 0 0.55em rgba(255, 255, 255, 0.45);
  }
}

.chat-window {
  background-color: #02081d;
  display: none;
  color: white;
  font-size: 17px;
  width: 100%;
  height: 80%; 
  border: none;
}

.talk-btn {
  font-family: "Prompt", Helvetica;
  font-size: 16px;
  background-color: #6785d3;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 25px;
}

.send-btn {
  font-family: "Prompt", Helvetica;
  font-size: 16px;
  background-color: #6785d3;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 25px;
  display: none;
}

.message-input {
  display: none;
  border-radius: 5px;
  border-color: #6785d3;
  margin-bottom: 10px;
  font-size: 20px;
  width: 50vw;
}

.talk-btn:hover {
  background-color: #ffffff;
  color: #6785d3;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 60px;
  bottom: 0;
  width: 100%;
}

.call {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #bccffe1a;
  border-radius: 50px;
  padding: 8px;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  cursor: pointer;
}

.call:hover {
  background-color: #bccffe;
}

.connect {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bccffe1a;
  border-radius: 50px;
  padding: 8px;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  cursor: pointer;
}

.connect:hover {
  background-color: #bccffe;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bccffe1a;
  border-radius: 50px;
  padding: 8px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}


.message:hover {
  background-color: #bccffe;
}


@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700");
*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body 
{
  font-family: Raleway, sans-serif;
}
.main-container 
{
  /* height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  margin-top: 30px;
}

.main-container h2 
{
  margin: 0 0 80px 0;
  color: #cccccc;
  font-size: 30px;
  font-weight: 300;
}

.radio-buttons 
{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.custom-radio input 
{
  display: none;
}

.radio-btn 
{
  margin: 10px;
  width: 220px;
  height: 240px;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px #c3c3c367;
  cursor: pointer;
}

.radio-btn > i {
  color: #ffffff;
  background-color: #FFDAE9;
  font-size: 20px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) scale(2);
  border-radius: 50px;
  padding: 3px;
  transition: 0.5s;
  pointer-events: none;
  opacity: 0;
}

.radio-btn .hobbies-icon 
{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radio-btn .hobbies-icon img
{
  display:block;
  width:100%;
  margin-bottom:20px;
  
}
.radio-btn .hobbies-icon i 
{
  color: #FFDAE9;
  line-height: 80px;
  font-size: 60px;
}

.radio-btn .hobbies-icon h4
{
  color: rgb(214, 214, 214);
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing:1px;
}

.custom-radio input:checked + .radio-btn 
{
  border: 2px solid #FFDAE9;
}

.custom-radio input:checked + .radio-btn > i 
{
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
