@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main .react-input-emoji--container {
  background: transparent;
  border: 0;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  color: #fff;
}

main .react-emoji {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

main .react-input-emoji--button {
  padding-left: 0;
  padding-right: 20px;
}

main .react-input-emoji--input {
  font-weight: 300;
}
