# model size
MODEL=base
# whether load diarization models
DIARIZATION=true
# api key, the same as WHISPERX_API_KEY in .env of RealChar backend
API_KEY=YOUR_API_KEY
# your Hugging Face access token that has gain access to the three models diarization requires
HF_ACCESS_TOKEN=YOUR_HF_ACCESS_TOKEN
# select GPU device, e.g. CUDA_VISIBLE_DEVICES=0, CUDA_VISIBLE_DEVICES=1, ...
CUDA_VISIBLE_DEVICES=
# set to s2t for traditional Chinese, t2s for simplified Chinese, empty if not installed
OPENCC=t2s
