<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806733379891-h6s25834canp4ler92mflbaqt9kdo6m2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806733379891-h6s25834canp4ler92mflbaqt9kdo6m2</string>
	<key>API_KEY</key>
	<string>AIzaSyAuIh7lwblbbz9L1PjNrBVFb0qXABr-4rc</string>
	<key>GCM_SENDER_ID</key>
	<string>806733379891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.realchar.app</string>
	<key>PROJECT_ID</key>
	<string>assistly-kubernetes</string>
	<key>STORAGE_BUCKET</key>
	<string>assistly-kubernetes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806733379891:ios:5d9e80280d69d5f08e6646</string>
</dict>
</plist>