<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RCWebUrl</key>
	<string>https://realchar.ai/</string>
	<key>RCServerUrl</key>
	<string>https://api.realchar.ai/</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.806733379891-h6s25834canp4ler92mflbaqt9kdo6m2</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Prompt-SemiBold.ttf</string>
		<string>Prompt-Regular.ttf</string>
		<string>Prompt-Medium.ttf</string>
	</array>
</dict>
</plist>
